<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</nav>
<th:block sec:authorize="hasRole('ROLE_BARTENDER')" th:include="~{fragments/bartender-nav}"></th:block>

<main class="mt-5">
    <hr class="bg-hero hr-2"/>
    <h1 class="text-center text-black display-4">Add a new Waitress</h1>
    <hr class="bg-hero w-25 hr-2"/>
    <form class="mx-auto w-25" th:method="post" enctype="multipart/form-data" th:action="@{/waitress/add}">
        <input type="hidden" name="_csrf" value="c95ccb2b-1afa-47bd-bf7b-a5b72739470b">
        <div class="form-group">
            <label for="name" class="text-black mb-1">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name..." name="name">
        </div>
        <div class="form-group">
            <label for="image" class="text-black mb-1">Upload image</label>
            <input type="file" enctype="multipart/form-data" class="form-control" id="image" placeholder="Image URL..." name="image">
        </div>
        <div class="form-group">
            <label for="tips-rate" class="text-black mb-1">Tips Rate</label>
            <input type="number" value="0.01" step="0.01" class="form-control" id="tips-rate" placeholder="Tips Rate (0.01)..." name="tipsRate">
        </div>
        <hr class="bg-hero hr-2"/>
        <div class="button-holder mt-3 d-flex justify-content-center">
            <button type="submit" class="btn bg-black glow-button">Add Waitress</button>
        </div>
    </form>
    <img src="/img/favicon.ico" class="rounded float-right" alt="beer fun">
    <span style="visibility: hidden">....</span>
</main>

<footer  class="sticky-footer bg-black">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
