<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>

<header>
    <th:block th:replace="~{fragments/header}"></th:block>
</header>
<nav>
    <th:block th:replace="~{fragments/nav-bar}"></th:block>
</nav>

<main class="mt-5">
    <hr class="bg-hero hr-2"/>
    <h1 class="text-center text-black display-4">BeerHub Waitresses</h1>
    <hr class="bg-hero w-25 hr-2"/>
    <div class="container-fluid">
        <th:block th:each="waitress, iter : ${waitresses}" th:object="${waitress}">
            <div class="row">
                <div class="col-sm">

                    <img th:src="${waitress.image}" class="img-responsive" alt="Waitress Pic">

                </div>
                <div class="col-sm">
                    <h2 th:text="'Name: ' + ${waitress.name}"></h2>
                    <h2 th:text="'Tips Rate: ' + ${waitress.tipsRate}"></h2>
                </div>
                <div class="col-sm">
                    <form method="post" action="/waitress/pick">
                        <input type="hidden" name="id" th:value="${waitress.id}">
                        <button type="submit" class="button">Call a Beer</button>
                    </form>
                </div>
            </div>
        </th:block>
    </div>
    <img src="/img/favicon.ico" class="rounded float-right" alt="beer fun">
    <span style="visibility: hidden">....</span>
</main>

<footer class="sticky-footer bg-black">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
