<th:block th:fragment xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <ul class="nav nav-pills">
                <li class="navbar-text">Bartender</li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/waitress/all}">Waitresses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bartender/storage}">Storage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bartender/all-orders}">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/bartender/cash}">Cash</a>
                </li>
            </ul>
            <ul class="nav nav-pills">
                <li class="navbar-text">Root</li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="nav-item">
                    <a class="nav-link" th:href="@{/root/list-all-users}">System Users</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ROOT')" class="nav-item">
                    <a class="nav-link" th:href="@{/root/list-all-logs}">System Logs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</th:block>