<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <script>
        function calc() {
            let currentQuantity = $('input[name=quantity]').val();
            let price = $('#price').text();
            console.log(this);
        }
    </script>
</head>
<body>
<header class="sticky-top">
    <th:block th:replace="~{fragments/header}"></th:block>
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</header>
<main>
    <div class="jumbotron">
        <!--        <th:block th:include="~{fragments/bartender-nav}"></th:block>-->
        <h2 class="text-capitalize text-xl-center">Need to order these</h2>
        <hr/>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">On Store</th>
                <th scope="col">Order</th>
                <th scope="col">Price</th>
                <th scope="col">Call</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="beer, iter : ${beers}">
                <tr class="align-items-center">
                    <th scope="row" th:text="${iter.index + 1}">1</th>
                    <td class="text " th:text="${beer.name}">Mark</td>
                    <td class="text price" id="price" th:text="|$${beer.buyPrice}|">Otto</td>
                    <td class="text" th:text="|${beer.quantity}|">Otto</td>
                    <form id="${beer.id}" class="mx-auto w-25" th:method="post" th:action="@{/bartender/buy}">
                        <td>
                            <input type="hidden" name="id" th:value="${beer.id}"/>
                            <input type="hidden" name="name" th:value="${beer.name}"/>
                            <input onchange="calc(this)" name="quantity" value="1" type="number" min="1"/>
                        </td>
                        <td>
                            $<input type="number" th:value="${beer.buyPrice}" min="0" disabled/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-dark text-white">Order more</button>
                        </td>
                    </form>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>