<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script>
        function showHere(num) {
            $('#' + 'beer' + num).toggle()
        }
    </script>
</head>
<body>
<header>
    <th:block th:include="~{fragments/header}"></th:block>
</header>
<nav class="navbar navbar-expand-md navbar-light">
    <th:block th:include="~{fragments/nav-bar}"></th:block>
</nav>
<th:block sec:authorize="hasRole('ROLE_BARTENDER')" th:include="~{fragments/bartender-nav}"></th:block>

<script>
    $(document).ready("ready", function () {
        $("#loadingBox").show();
    });

    $(document).on('ajaxStop', function () {
        setTimeout(function () {
            $("#loadingBox").hide();
            $(".table").show();
        }, 1500);
    });

    $(() => {
        $.ajax({
            method: 'GET',
            url: '/bartender/storage'
        })
    })

</script>
<main>
    <div class="jumbotron">
        <div class="row center-pill">
            <a sec:authorize="hasRole('ROLE_BARTENDER')" class="button bg-white text-dark btn-danger"
               th:href="@{/beers/create}">Add
                New Beer</a>
            <br>&nbsp;</br>
            <a sec:authorize="hasRole('ROLE_BARTENDER')" class="button bg-white text-danger btn-danger"
               th:href="@{/bartender/runouts}">Check out what to order</a>
        </div>
        <h2 class="text-capitalize text-xl-center">Beer List</h2>
        <div>
            <section id="loadingBox" class="loadingBox">Loading ...</section>
        </div>
        <table class="table table-hover" style="display: none">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="beer, iter : ${beers}">
                <tr class="align-items-center">
                    <th scope="row" th:text="${iter.index + 1}">1</th>
                    <td class="text " th:text="${beer.name}">Mark</td>
                    <td class="text" th:text="|$${beer.sellPrice}|">Otto</td>
                    <td class="text" th:text="|$${beer.buyPrice}|">Otto</td>
                    <td>
                        <button type="button" class="btn btn-secondary" th:attr="onclick=|showHere('${beer.id}')|">
                            Click
                        </button>
                    </td>
                    <td>
                        <a type="button" class="btn btn-dark text-white">Prices and Details</a>
                    </td>
                </tr>
                <tr style="display: none" th:id="'beer' + ${beer.id}">
                    <td colspan="5" style="text-align: center; color: wheat; background-color: lightslategray;"
                        th:text="|${beer.description}|"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</main>

<footer class="sticky-footer bg-black">
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>
