<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<header class="sticky-top">
    <th:block th:replace="fragments/header"></th:block>
    <th:block th:include="fragments/nav"></th:block>
</header>
<main>
    <div class="jumbotron">
        <h2>your current order</h2>
        <hr/>
        <a class="btn btn-primary btn-lg" href="#" role="button">Pay it</a>
        <a class="btn btn-info btn-lg" href="#" role="button">Order Another Beer</a>
    </div>
</main>
<footer>
    <th:block th:include="fragments/footer"></th:block>
</footer>
</body>
</html>